In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../datasets/stations.csv")

In [4]:
df.head()

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,Platforms,Tracks,Year of Opening
0,Churchgate,CCG,Western,0 KM,0 min,4.0,4.0,1867.0
1,Marine Lines,MEL,Western,1 KM,3 min,4.0,4.0,1867.0
2,Charni Road,CYR,Western,1 KM,2 min,4.0,4.0,1867.0
3,Grant Road,GTR,Western,1 KM,3 min,4.0,4.0,1868.0
4,Mumbai Central,MMCT,Western,1 KM,2 min,9.0,9.0,1930.0

In [8]:
import json
df['Station_ID'] = range(1, len(df) + 1)
selected_columns = df[['Station_ID', 'Station']]

# Convert the selected columns to a list of dictionaries
station_data = selected_columns.to_dict(orient='records')

output_file = 'station.json'

# Export the data as a JSON array to the specified file
with open(output_file, 'w') as json_file:
    json.dump(station_data, json_file)

print(f'Data has been exported to {output_file}')

Data has been exported to station.json